body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.intro {
    text-align: center;
    padding: 50px 20px;
    background-image: url('images/banner.jpg');
    background-position: center;
    background-size: cover;
}

.intro h2 {
    font-size: 36px;
}

.intro p {
    font-size: 18px;
    margin-bottom: 10px;
}

.intro .button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
